*{
	margin: 0;
	padding: 0;
}
#whole{
	text-align: center;
	padding: 40px;
	background-color: #fbf9f7;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card.card-image{
	border-radius: 0%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.container-fluid{
	margin: 0;
	padding: 0;
	background: #59200a;
	
}
img{
	border-radius: 0%;
}
.card{
	border-radius: 0%;
	border: none;
	
	
}
.card p{
	padding: 20px;
}
.col-md-12{
	background-image: url('https://images.wallpaperscraft.com/image/coffee_cup_hands_120722_1920x1080.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	padding-bottom: 10%;
}
#kort{
	border-radius: 0%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
#kort:hover{
	-moz-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	transform: scale(0.9);

}
#first-card{
	background-color: #59200a;
	color: white;
	text-align: center;
}
#first-card P{
	font-size: 14px;
}
#second-card{
	background-color: #521a0a;
	color: white;
	text-align: center;
	
}
#second-card p{
	padding: 40px 5px 200px 40px;
	font-size: 14px;
}
.hovert{
	border-radius: 0%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	padding-top: 50px;

}
.hovert:hover{
	-moz-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	transform: scale(0.9);

}
.hovert2 img{
	padding-top: 50px;
}
#whole .btn.btn-default{
	padding: 20px;
	border-bottom: 1px;
}