<div class='container-fluid'>
  <div class="jumbotron">
        <h1 class="display-4">I will start working</h1>
        <p class="lead">When my coffee does</p>
        <p></p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
  </div>
</div>
<div class='container-fluid'>
  <div class="col-sm-12">
      <ul class="social-network social-circle">
          <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
          <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
      </ul>
  </div>
</div>
<div class='container-fluid'>
  <div class="row">
      <div class="col-sm-4">
          <h2>Love</h2><fa [name]="'fal fa-heart fa-5x'"></fa><p id='para'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero nihil ratione temporibus debitis minima provident saepe aliquid ducimus autem eaque nesciunt, nostrum eius aliquam illo inventore, ipsum sit id corporis.</p></div>
      <div class="col-sm-4">
          <h2>Taste</h2><fa [name]="'fas fa-coffee fa-5x'"></fa><p id='para'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quia voluptas reprehenderit, quos praesentium provident possimus ducimus nulla id illum magnam porro totam fugit necessitatibus quae cum! Adipisci, ad esse.</p></div>
      <div class="col-sm-4">
        <h2>Staff</h2><fa [name]="'fas fa-users fa-5x'"></fa><p id='para'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa fugiat expedita id, nulla non autem error neque et impedit repellendus optio modi perspiciatis tenetur inventore iste dicta aperiam aspernatur velit?</p></div>
  </div>
</div>  
