<div class='container-fluid'>
    <div class="col-md-12">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
            <div class="py-5">
                <h2 class="card-title pt-3 mb-5 font-bold">Great coffee comes with great dildos</h2>
                <p>We share our passion for coffee in our high-quality products and services. We strive for excellence from bean to cup – and from cup to great coffee experience.</p>
            </div>
        </div>
    </div>
</div>    
<div class='container-fluid'>
  <div class='col-sm-12' id='pirmas'>
    <img src="https://globalassets.starbucks.com/assets/433860c926224df4b88ec4ec7fa4da3a.jpg" class="img-fluid" alt="Responsive image">
    <button type="button" class="btn btn-default">Let's fucking go!</button>
    <h1>SERIOUS STRAWBERRY FRAPPUCCINO® BLENDED BEVERAGE</h1>
    <p>Real Strawberry puree is layered in a sophisticated swirl of milk, ice and Strawberry Fruit and Botanical Infusion.</p>
  </div>
    <div class="col-md-12" id='antras'>
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
            <div class="py-5">
                    <h2 class="card-title pt-3 mb-5 font-bold">Great coffee comes with great dildos</h2>
                    <p>We share our passion for coffee in our high-quality products and services. We strive for excellence from bean to cup – and from cup to great coffee experience.</p>
            </div>
        </div>
    </div>
  <div class='row'>
    <div class='col-sm-6'>
      <div class='card' id='first-card'>
          <div class='kibiras'>
            <div class='hovert'>
                <img src="/assets/coffee.png" alt="kava">
                <h2>EIKIT NX</h2>
                <p>The secret behind a great cup of coffee is the quality and freshness of the coffee itself</p>
            </div>
          </div>    
      </div>
    </div>
    <div class='col-sm-6'>
      <div clas='card' id='second-card'>
          <div class='kibiras'>
            <div class='hovert2'>
                <img src="/assets/inga.png" border="0" alt="Chania">
                <h2>BYBYS KIAUSAI</h2>
                <p id='second'>Arabica is originally from Ethiopia and today it is grown around the world</p>
            </div>
          </div>
      </div>
    </div>
  </div>