<div class='container-fluid'>
    <div class="col-md-12">
        <div class="card card-image" style="background-image: url(https://images.wallpaperscraft.com/image/coffee_beans_texture_background_grain_18480_1920x1080.jpg);">
            <div class="text-white text-center rgba-stylish-strong py-5 px-4">
                <div class="py-5">

                    <!--Content-->
                       
                        <h2 class="card-title pt-3 mb-5 font-bold">Great coffee comes with great dildos</h2>
                        <p class="px-5 pb-4">We share our passion for coffee in our high-quality products and services. We strive for excellence form bean to cup – and from cup to great coffee experience.</p>
                </div>
            </div>
        </div>
    </div>
</div>    
<div class='container-fluid'>
  <div class='col-sm-12'>
    
    <h1><fa [name]="'fas fa-coffee'"></fa>  im gay</h1>
    <p>feowihf</p>
  </div>
  <div class='row'>
    <div class='col-sm-6'>
      <div class='card' id='first-card'>
          <img class="card-img-top" id='kort' src="https://images.wallpaperscraft.com/image/coffee_cup_hands_120722_1024x768.jpg"  alt="Card image cap">
          <div class='kibiras'>
            <div class='hovert'>
                <h2>EIKIT NX</h2>
                <p>The secret behind a great cup of coffee is the quality and freshness of the coffee itself, quality water, the correct preparation method, and clean preparation equipment.</p>
                <p>There is a variety of coffees available for your enjoyment. It is important to choose the right coffee for the
                preparation method you are using. The importance of having the correct grind and quantity is essential. Coffee
                is not a ready-to-drink beverage and understanding the importance of preparation is crucial to the end result in the cup.</p>
                <p>Paulig’s ground coffee packages bear symbols that show which preparation method you should use for it.</p>
            </div>
          </div>    
      </div>
    </div>
    <div class='col-sm-6'>
      <div clas='card' id='second-card'>
          <div class='kibiras' id='antras'>
            <div class='hovert2'>
                <h2>BYBYS KIAUSAI</h2>
                <p id='second'>Arabica is originally from Ethiopia and today it is grown around the world. Robusta was discovered in Congo and from there it has spread throughout tropical Africa and to Indonesia, Vietnam and beyond.</p>
            </div>
          </div>
          <img class="card-img-top" id='kort' src="https://images.wallpaperscraft.com/image/coffee_maker_coffee_dishes_110909_1280x1024.jpg"  alt="Card image cap">
          
      </div>
    </div>
  </div>
