<footer class="page-footer font-small unique-color-dark mt-4">
    <div class="container text-center text-md-left mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Company name</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
          <i class="fa fa-home mr-3"></i> Kuršėnai , Papilės 3A</p>
          <p>
          <i class="fa fa-envelope mr-3"></i> paulius.zaura@gmail.com</p>
          <p>
          <i class="fa fa-phone mr-3"></i> +37062012040</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright: Paulius Zaura
  </div>
</footer>