
.jumbotron{
    background-image: url("pictures/kava.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0;
    height: 550px;
    margin-bottom: 0;
}
h1, p{
    color:white;
    
}
.btn.btn-primary{
    background-color: #7e7e7e;
    color: black;
    border-radius: 0;
    border: none;
    
}
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none !important;
    
    
}
.btn.btn-primary:hover{
    background-color: black;
    color: white;
}
