.jumbotron{
    h1{
        color: #ffff;
        background: #444;
        padding: 10px 10px;
    }

    border-radius: 0%;
    background: url('/assets/vilnius.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 200px;
}

.card1, .card2, .card3{
    padding-bottom: 60px;
}
.container{
    background: #e1e1e1;
}