<div class='backgr'>
  <div class='container'>
    <div class="jumbotron text-center">
        <h1 class="card-title h2-responsive mt-2"><strong>WHERE TO FIND US</strong></h1>
    </div>
    
    <hr>
    <div class='card1'>
      <h1>Vilnius <fa [name]="'fas fa-map-marker'"></fa></h1>
      <h5>Lvovo st. 12, LT-21337, Vilnius</h5>
      <h5>East entrance</h5>
      <h5>Phone Number: +37062012040</h5>
      <h5>Email: paulius.zaura@gmail.com</h5>
    </div>
  <hr>
    
    <div class='card2'>
        <h1>Kaunas <fa [name]="'fas fa-map-marker'"></fa></h1>
        <h5>Lvovo st. 12, LT-21337, Kaunas</h5>
        <h5>East entrance</h5>
        <h5>Phone Number: +37062012040</h5>
        <h5>Email: paulius.zaura@gmail.com</h5>
    </div>
    <hr>    
    <div class='card3'>
        <h1>Klaipeda <fa [name]="'fas fa-map-marker'"></fa></h1>
        <h5>Lvovo st. 12, LT-21337, Kaunas</h5>
        <h5>East entrance</h5>
        <h5>Phone Number: +37062012040</h5>
        <h5>Email: paulius.zaura@gmail.com</h5>
    </div>
  </div>  
</div>
