<h1>About Us</h1>
<hr>
<div class='container'>
        
        <div id='content' class='row-fluid'>
          <div class='span8 main'>
            <h2>Main Content Section</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.<p> 
            <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
            <img src="https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=723bf403c08d27742f820e166b5c9f67&auto=format&fit=crop&w=1351&q=80" class="img-thumbnail" alt="Cinque Terre">
            <div class='row'>
                <div class='col-sm-6'>
                    <p id='lower'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos temporibus eaque repellendus non. Doloribus maxime corrupti at nulla quaerat, quae eligendi obcaecati sunt accusantium dolores sapiente, culpa fuga, maiores tenetur?</p>
                </div>
                <div class='col-sm-6'>
                    <p id='lower'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora consectetur doloremque ea eaque commodi doloribus, necessitatibus illum assumenda voluptates nesciunt dolorum exercitationem nostrum aut velit voluptatibus atque perferendis, voluptate ex?</p>
                </div>
            </div>
          </div>
        </div>
</div>