<div class='container-fluid'>
    <h1>The Cafeingo Story</h1>
    <p>A place for conversation and a sense of community. A third place between work and home.</p>
</div>
<div class='container'>
    <h1>Our Heritage</h1>
    <p>Every day, we go to work hoping to do two things: share
         great coffee with our friends and help make the world a little better. It was true when the first Starbucks opened in 1971, and it’s just as true today.</p>
    <p>Back then, the company was a single store in Seattle’s historic Pike Place Market. From just a narrow storefront, Starbucks offered some of the world’s finest fresh-roasted whole bean coffees. The name, inspired by Moby Dick, evoked the romance of the high seas and the seafaring tradition of the early coffee traders.</p>
    <p>In 1981, Howard Schultz (Starbucks chairman and chief executive officer) had first walked into a Starbucks store. From his first cup of Sumatra, Howard was drawn into Starbucks and joined a year later.</p>
    <p>In 1983, Howard traveled to Italy and became captivated with Italian coffee bars and the romance of the coffee experience. He had a vision to bring the Italian coffeehouse tradition back to the United States. A place for conversation and a sense of community. A third place between work and home. He left Starbucks for a short period of time to start his own Il Giornale coffeehouses and returned in August 1987 to purchase Starbucks with the help of local investors.</p>
    <p>From the beginning, Starbucks set out to be a different kind of company. One that not only celebrated coffee and the rich tradition, but that also brought a feeling of connection.</p>
    <hr>
    <img class='img-fluid' src='/assets/nkdu.jpg'>
    <hr>
    <h1>Expect More Than Coffee</h1>
    <p>We’re not just passionate purveyors of coffee, but everything else that goes with a full and rewarding coffeehouse experience. We also offer a selection of premium teas, fine pastries and other delectable treats to please the taste buds. And the music you hear in store is chosen for its artistry and appeal.</p>
    <p>It’s not unusual to see people coming to Starbucks to chat, meet up or even work. We’re a neighborhood gathering place, a part of the daily routine – and we couldn’t be happier about it. Get to know us and you’ll see: we are so much more than what we brew.</p>
    <p>We make sure everything we do is through the lens of humanity – from our commitment to the highest quality coffee in the world, to the way we engage with our customers and communities to do business responsibly.</p>

</div>
