nav{
    padding: 15px;
    
}

.dropdown-menu{
    margin-top: 15px;
    border: none;
    border-radius: 0;
    
}
fa{
    padding-right: 5px;
}
.navbar-brand{
    border: 1px solid black;
    padding: 10px;
}
.navbar-brand:hover{
    color: #ffff;
    background-color: black;
}