<div class="jumbotron text-center">
    <h1 class="card-title h2-responsive mt-2"><strong>Join Us</strong></h1>
    <div class="d-flex justify-content-center">
        <p class="card-text mb-3" style="max-width: 43rem;">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam. Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium
            doloremque laudantium, totam rem aperiam.
        </p>
    </div>
    <hr class="my-4">
</div>
<div class='container'>
    <h1 id='first'>Staff</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.loremNulla aliquam voluptatum ullamNulla aliquam voluptatum ullam fugiat eaque rem in ipsum sit facere nam voluptatibus consequatur reprehenderit quasi iste, pariatur neque quo voluptas er fugiat eaque rem in ipsum sit facere nam voluptatibus consequatur reprehenderit quasi iste, pariatur neque quo voluptas er Nulla aliquam voluptatum ullam fugiat eaque rem in ipsum sit facere nam voluptatibus consequatur reprehenderit quasi iste, pariatur neque quo voluptas error!</p>
    <h1>Work Environment</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam odit accusantium sit recusandae veniam laboriosam minus natus mollitia culpa soluta doloremque, aspernatur itaque perferendis nesciunt, corporis fugiat? Nemo, voluptatum animi!</p>
</div>