
button{
    width: 50%;
    border-radius: 0;
    
}
#reg{
    width: 100%;
    background-color: red;
    margin-top: 10px;
    
}
.container{
    margin-top: 30px; 
    margin-bottom: 155px;
    width: 400px;
    padding: 10px;
}