<div class="row">
    
    <div class="col-sm-4">
        <h2>Love</h2><fa [name]="'fal fa-heart fa-5x'"></fa><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero nihil ratione temporibus debitis minima provident saepe aliquid ducimus autem eaque nesciunt, nostrum eius aliquam illo inventore, ipsum sit id corporis.</p></div>
    <div class="col-sm-4">
        <h2>Taste</h2><fa [name]="'fas fa-coffee fa-5x'"></fa><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quia voluptas reprehenderit, quos praesentium provident possimus ducimus nulla id illum magnam porro totam fugit necessitatibus quae cum! Adipisci, ad esse.</p></div>
    <div class="col-sm-4">
      <h2>Staff</h2><fa [name]="'fas fa-user fa-5x'"></fa><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa fugiat expedita id, nulla non autem error neque et impedit repellendus optio modi perspiciatis tenetur inventore iste dicta aperiam aspernatur velit?</p></div>
  </div>